<!DOCTYPE html>
<html>
<head>
  <title>Active storage svg sanitizer</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "active_storage_svg_sanitizer/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
